@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800);

@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/Georgia.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/Georgia.woff') format('woff'), url('../assets/fonts/Georgia.ttf')  format('truetype'), url('../assets/fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Italic';
  src: url('../assets/fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/Georgia-Italic.woff') format('woff'), url('../assets/fonts/Georgia-Italic.ttf')  format('truetype'), url('../assets/fonts/Georgia-Italic.svg#Georgia-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-Bold';
  src: url('../assets/fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/Georgia-Bold.woff') format('woff'), url('../assets/fonts/Georgia-Bold.ttf')  format('truetype'), url('../assets/fonts/Georgia-Bold.svg#Georgia-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia-BoldItalic';
  src: url('../assets/fonts/Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/Georgia-BoldItalic.woff') format('woff'), url('../assets/fonts/Georgia-BoldItalic.ttf')  format('truetype'), url('../assets/fonts/Georgia-BoldItalic.svg#Georgia-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

$black: #262626;
$white: #FFFFFF;
$gray: #646464;
$red: #e05553;
$grayson: #eeecec;

@mixin smooth {
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition:all .3s;
}

// Infinite loop
@-webkit-keyframes anim-arrow {
  0%   { bottom: 2em; }
  50%  { bottom: 2.75em; }
  100% { bottom: 2em; }
}
@-moz-keyframes anim-arrow {
  0%   { bottom: 2em; }
  50%  { bottom: 2.75em; }
  100% { bottom: 2em; }
}
@-o-keyframes anim-arrow {
  0%   { bottom: 2em; }
  50%  { bottom: 2.75em; }
  100% { bottom: 2em; }
}
@keyframes anim-arrow {
  0%   { bottom: 2em; }
  50%  { bottom: 2.75em; }
  100% { bottom: 2em; }
}

.row {
	max-width: 65em;
}
body {
	color: $black;
	font-family: 'Open Sans', sans-serif;
}
.content {
	padding-top: 6em;
	height: 100%;
}
a {
	@include smooth;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	span {
		color: $red;
		margin: 0 0.35em;
	}
}
h1 {
	font-size: 7.35rem;
	line-height: 1em;
	white-space: nowrap;
	@media (max-width: 810px) {
		white-space: normal;
		font-size: 4em;
	}
}
p {
	// font-size: 0.85em;
	&.subtitle {
		font-size: 1.9em;
		color: $gray;
		line-height: 1.35em;
		margin: 1.35rem 0 1rem;
		&:after {
			content: ' ';
			border-bottom: 4px solid $red;
			width: 1.5em;
			display: block;
			margin-top: 0.75em;
		}
	}
}
.geo {
	font-family: 'Georgia';
}
.geoit {
	font-family: 'Georgia-Italic';
}
.geob {
	font-family: 'Georgia-Bold';
}
.geobit {
	font-family: 'Georgia-BoldItalic';
}

#home {
	.top-bar {
		background-color: transparent;
		ul {
			li {
				a {
					color: $white;
					&.active {
						&:after {
							border-bottom: 2px solid $white;
							width: 1.25em;
						}
					}
					&:hover {
						&:after {
							border-bottom: 2px solid $white;
							width: 1.25em;
						}
					}
				}
			}
		}
	}
}
.top-bar {
	font-family: 'Open Sans', sans-serif;
	padding: 3em 5em 0;
	background-color: $white;
	z-index: 99;
	@media (max-width: 1010px) {
		padding: 3em 3em 0;
	}
	@media (max-width: 934px) {
		padding: 2em 2em 0;
	}
	&.fixed {
		position: fixed;
		width: 100%;
	}
	img {
		max-width: 174px;
		@media (max-width: 680px) {
		    max-width: 150px;
		}
	}
	ul {
		background-color: transparent;
		font-size: 0.85em;
		li {
			@media (max-width: 680px) {
				display: none;
			}
			a {
				text-align: center;
				color: $black;
				padding: 0.7rem 1.75rem;
				@media (max-width: 934px) {
					padding: 0.7rem 1.25rem;
				}
				@media (max-width: 810px) {
				    padding: 0.7rem 0.75rem;
				}
				&:after {
					content: ' ';
					border-bottom: 2px solid transparent;
					width: 0em;
					display: block;
					margin: 0.75em auto 0;
					@include smooth;
				}
				&.active {
					&:after {
						border-bottom: 2px solid $black;
						width: 1.25em;
					}
				}
				&:hover {
					&:after {
						border-bottom: 2px solid $black;
						width: 1.25em;
					}
				}
			}
			&.lang {
				a {
					margin-left: 14em;
					padding: 0.7rem 0;
					@media (max-width: 1100px) {
						margin-left: 8em;
					}
					@media (max-width: 1000px) {
						margin-left: 4em;
					}
					@media (max-width: 810px) {
					    margin-left: 3em;
					}
				}
			}
		}
	}
	.top-bar-left {
		width: auto;
	}
	.top-bar-right {
		margin-bottom: 1em;
	}
	.openMain {
		display: none;
		@media (max-width: 680px) {
			display: block;
		}
		&.right {
			float: right;
		}
	}
}
.featHome {
	margin-top: 15%;
	color: $white;
}
.info {
	p {
		padding-right: 12.5%;
		@media (max-width: 810px) {
			padding-right: 0;
			font-size: 0.75em;
		}
		&.subtitle {
			@media (max-width: 810px) {
				font-size: 1.25em;
			}
		}
	}
}
section {
	&.somos {
		background-image: url("../assets/img/somos.png");
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    height: 100%;
	    position: relative;
	    padding-bottom: 10em;
		.info {
			margin-top: 22.5%;
			@media (max-width: 638px) {
				margin-top: 0;
			}
		}
	}
	&.equipo {
		padding: 5em 0;
		.team {
			margin-top: 3em;
			.row {
				margin-top: 2em;
			}
			.detail {
				background-color: $grayson;
				padding: 2em;
				min-height: 20em;
				@media (max-width: 810px) {
					font-size: 80%;
				}
				p {
					font-size: 0.75em;
				}
				ul {
					line-height: 1.25em;
					li {
						margin-bottom: 1em;
					}
				}
				.subtitle {
					font-size: 1.1em;
					margin: 0 0 1rem;
					@media (max-width: 810px) {
						font-size: 1em;
					}
				}
				h3 {
					line-height: 1em;
					font-size: 2.425rem;
					@media (max-width: 810px) {
						font-size: 1.625rem;
					}
				}
			}
		}
	}
	&.servicios {
		height: 100%;
		background-image: url('../assets/img/servicios.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		padding-bottom: 10em;
		.info {
			margin-top: 22.5%;
		}
	}
	&.servs-list {
		.int {
			padding: 5em;
			.subtitle {
				color: $black;
			}
			ul {
				list-style: none;
				margin-left: 0;
				font-size: 0.75em;
				li {
					margin-bottom: 0.5em;
				}
			}
		}
	}
	&.clientes {
		padding: 5em 0;
		background-image: url('../assets/img/px.png');
	    background-size: contain;
	    background-repeat: repeat-y;
		.subtitle {
			color: $black;
			span {
				color: $gray;
				text-decoration: line-through;
			}
		}
		.info {
			p {
			    padding-right: 2.5%;
			}
		}
		.clients-list {
			padding-left: 5em;
			@media (max-width: 1022px) {
				padding-left: 0;
			}
			.row {
				.columns {
					margin: 4em 0 3em;
					text-align: center;
					img {
						vertical-align: bottom;
					}
				}
			}
		}
	}
	&.oficinas {
		padding: 5em 0;
		background-image: url('../assets/img/map.png');
	    background-size: 60%;
	    background-repeat: no-repeat;
	    background-position: right top;
	    background-attachment: fixed;
	    @media (max-width: 638px) {
	    	background-image: none;
	    }
	    .info {
	    	ul {
	    		list-style: none;
	    		margin: 3em 0 0;
	    		li {
	    			margin-bottom: 2em;
	    			.city {
	    				margin-bottom: 1em;
	    				.line {
	    					border-bottom: 2px solid $red;
	    					height: 1.25em;
	    				}
	    			}
	    			.address {
	    				font-size: 0.85em;
	    			}
	    		}
	    	}
	    	.subtitle {
	    		white-space: nowrap;
	    	}
	    }
	}
	&.contacto {
		padding: 5em 0;
		.info {
			h1 {
				@media (max-width: 418px) {
					font-size: 2.65em;
				}
			}
		}
		form {
			label {
				font-size: 1.25em;
				margin-top: 1.5em;
				sup {
					color: $red;
				}
			}
			input {
				background-color: $grayson;
				border: 0;
				box-shadow: none;
				height: 2.25em;
				font-size: 1.25em;
			}
			textarea {
				background-color: $grayson;
				border: 0;
				box-shadow: none;
				height: 6.5em;
				font-size: 1.25em;
			}
			button {
				font-size: 1.5em;
				background-color: $black;
				padding: 0.85em 2.5em;
				margin-top: 2em;
				&:active {
					background-color: $red;
				}
				&:hover {
					background-color: $red;
				}
				&:focus {
					background-color: $red;
				}
				&:visited {
					background-color: $red;
				}
			}
			p {
				color: $gray;
				font-size: 1em;
				line-height: 1.25em;
				margin: 3.15em 0 0;
			}
			.callout.alert {
				background-color: $red;
				border: none;
				p {
					color: $white;
				}
			}
		}
	}
}
footer {
	background-color: #141414;
	color: $white;
	font-family: 'Open Sans', sans-serif;
	padding: 2em 0;
	p {
		font-size: 7.65px;
		margin-bottom: 0.75em;
	}
	.legal {
		margin-bottom: 1em;
		a {
			font-weight: 800;
			color: $white;
			font-size: 0.425em;
			&:last-child {
				margin-left: 2em;
			}
		}
	}
	.social {
		margin-bottom: 1em;
		a {
			margin-left: 1em;
		}
	}
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;

  background-image: url("../assets/img/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.sticky {
	-webkit-animation: anim-arrow 2s infinite; /* Safari 4+ */
  -moz-animation:    anim-arrow 2s infinite; /* Fx 5+ */
  -o-animation:      anim-arrow 2s infinite; /* Opera 12+ */
  animation:         anim-arrow 2s infinite; /* IE 10+, Fx 29+ */
	@media (max-width: 638px) {
		display: none;
	}
}

.off-canvas-content {
	background: transparent;
	box-shadow: none;
	padding: 0;
	min-height: inherit;
}
.off-canvas-wrapper {
}
.off-canvas-wrapper-inner {
}
.off-canvas.position-left {
	.menu {
		padding-top: 3em;
		li {
			a {
				color: $white;
				&:after {
					content: ' ';
					border-bottom: 2px solid transparent;
					width: 0em;
					display: block;
					margin: 0.75em 0;
					@include smooth;
				}
				&.active {
					&:after {
						border-bottom: 2px solid $white;
						width: 1.25em;
					}
				}
				&:hover {
					&:after {
						border-bottom: 2px solid $white;
						width: 1.25em;
					}
				}
			}
		}
	}
}
.off-canvas {
	background: rgba(0,0,0,0.65);
}
.orbit-next {
	right: -25%;
	@include smooth
}
.orbit-next:hover, .orbit-next:active, .orbit-next:focus {
	background-color: rgba(10,10,10,0.1);
}